	<script>
		var resizefunc = [];
		
	</script>

	<!-- jQuery  -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/detect.js"></script>
	<script src="assets/js/fastclick.js"></script>
	<script src="assets/js/jquery.slimscroll.js"></script>
	<script src="assets/js/jquery.blockUI.js"></script>
	<script src="assets/js/waves.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<script src="assets/js/jquery.nicescroll.js"></script>
	<script src="assets/js/jquery.scrollTo.min.js"></script>
	<script src="assets/js/vendor.min.js"></script>
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/jquery-ui.min.js"></script>
	<script src="assets/js/fullcalendar.min.js"></script>
	<script src="assets/js/calendar.init.js"></script>
	<script src="assets/js/app.min.js"></script>

	<script src="assets/js/jquery.core.js"></script>
	<script src="assets/js/jquery.app.js"></script>
	<script src="plugins/bootstrap-table/js/bootstrap-table.js"></script>
	<script src="plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>


	<script src="assets/pages/jquery.bs-table.js"></script>
	<script src="plugins/datatables/pdfmake.min.js"></script>
	<script src="plugins/datatables/vfs_fonts.js"></script>
	<script src="plugins/datatables/buttons.html5.min.js"></script>
	<script src="plugins/datatables/buttons.print.min.js"></script>
	<script src="plugins/datatables/buttons.colVis.min.js"></script>
	<!-- Responsive examples -->
	<script src="plugins/datatables/dataTables.responsive.min.js"></script>
	<script src="plugins/datatables/responsive.bootstrap4.min.js"></script>
	<script src="plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="plugins/datatables/dataTables.bootstrap4.min.js"></script>
	<script src="js/sweetalert.min.js"></script>
	
	<!--script>
	    $("#saveBtn").click(function(){
	        var d = $("#1500Form").serialize();
	        console.log(11111, d);
		      $.ajax({
		          type: 'POST',
		          url: 'ajax/getDataTest.html',
		          dataType: 'json',   //expect html to be returned
		          success: function(response){
		            alert(response)
		          }
		      });
	    })
	</script-->



</body>
</html>